// l-main関係とbody直下のl-wrapperのスタイル
@use '../foundation/setting' as *;

.l-main{
  position: relative;
  z-index: 17;
  &__inner{
    position: relative;
    padding: 0 20px;
    @include mq{
      max-width: 1110px;
      margin: 0 auto;
    }
  }
}
.l-wrapper{
  transition: .3s;
  &.is-menuOpen{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.1);
  }
}