@use '../../foundation/setting' as *;
// @extendのやつ
%p-message-inner {
  position: relative;
  width: 100%;
  max-width: $inner-width;
  padding: 0 20px;
  @include mq{
    width: 95%;
    max-width: 1110px;
    margin: 0 auto;
    padding: 0;
  }
}

// スタイル
.p-message-mv {
  margin-bottom: 30px;
  @include mq{
    margin-bottom: 60px;
  }
  &__inner {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 160px;
    @include mq {
      height: 190px;
    }
  }
  &__heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    color: #fff;
    font-family: $roboto;
    font-size: rem(28px);
    font-weight: bold;
    line-height: 1;
    @include mq{
      font-size: rem(40px);
    }
  }
  &__bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  &__bg-image{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.p-message-greeting{
  margin-bottom: 50px;
  @include mq{
    margin-bottom: 80px;
  }
  &__inner{
    @extend %p-message-inner;
    @include mq{
      max-width: 850px;
      margin: 0 auto;
    }
  }
  &__heading{
    margin-bottom: 20px;
    text-align: center;
    color: $c-main;
    font-size: rem(24px);
    line-height: 1.5;
    letter-spacing: .05em;
    @include mq{
      margin-bottom: 40px;
      font-size: rem(40px);
    }
  }
  &__heading-sub{
    margin-bottom: 35px;
    font-size: rem(15px);
    line-height: 1.5;
    text-align: center;
    @include mq{
      margin-bottom: 45px;
      font-size: rem(18px);
    }
  }
  &__body{
    @include clearfix;
  }
  &__image{
    width: 100px;
    height: 100px;
    float: left;
    margin: 0 15px 10px 0;
  }
  &__text{
    font-size: rem(15px);
    line-height: 1.5;
    letter-spacing: .05em;
    @include mq{
      font-size: rem(16px);
    }
  }
}
.p-message-office{
  margin-bottom: 50px;
  @include mq{
    margin-bottom: 100px;
  }
  &__inner{
    @extend %p-message-inner;
  }
  &__image{
    width: 100%;
    height: 260px;
    object-fit: cover;
    @include mq{
      height: 400px;
    }
  }
}